//Bootstrap container

@media (min-width: 576px){
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 540px;
  }
}

@media (min-width: 767px){
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}

@media (min-width: 577px) {
  .worksFadeMenu{
    display: none;
  }
}

@media (max-width: 1200px) {
  .about-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-content__img{
    margin-top: 60px;
  }
  .about-skills{
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-skills__showcase{
    width: 450px;
    margin: 0 0 30px 0;
    &-iPhone{
      width: 40%;
      height: 75%;
    }
    &-iPad{
      width: 100%;
      height: 100%;
    }
  }
  .quote-title{
    font-size: 35px;
  }
  .quote-title__text{
    font-size: 75px;
  }
  .quote-info{
    font-size: 30px;
    padding-bottom: 210px;
  }
  .blog-posts {
    justify-content: center;
  }
  .contact-content{
    align-items: center;
    flex-direction: column;
  }
  .contact-content__form{
    align-items: center;
    margin-bottom: 30px;
  }
  .contact-content__form-label{
    justify-content: center;
  }
  .contact-content__about{
    text-align: center;
    margin: 0 auto;
  }
  .contact-content__about-address{
    justify-content: center;
  }
}

@media (max-width: 992px){
  .burger-menu{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 10px;
    &.active{
      z-index: 99999;
      .burger-menu__line{
        background: #fff;
        transition: 0.6s;
        transform: rotate(90deg);
        &::before{
          position: absolute;
          content: '';
          width: 30px;
          height: 2px;
          background: #fff;
          top: 10px;
          transition: 0.6s;
        }
        &::after{
          position: absolute;
          content: '';
          width: 30px;
          height: 2px;
          background: #fff;
          top: -10px;
          transition: 0.6s;
        }
      }
    }
    &__line{
      position: absolute;
      background: #000;
      width: 30px;
      height: 2px;
      &::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        background: #000;
        top: 10px;
      }
      &::after{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        background: #000;
        top: -10px;
      }
    }
  }
  .header-logoBox{
    margin: 0 auto;
  }
  .header-nav{
    position: fixed;
    top: 0;
    right: -100%;
    background: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    width: 200px;
    height: 100vh;
    &.active{
      right: 0;
    }
    &__link{
      margin-bottom: 10px;
      color: #fff;
    }
  }
  .home-title{
    font-size: 40px;
  }
  .home-info_first{
    padding-top: 400px;
  }
  .about-flexContainer__info{
    font-size: 11px;
  }
  .about-content{
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-content__img{
    margin-top: 60px;
  }
  .about-skills{
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-skills__showcase{
    width: 450px;
    margin: 0 0 30px 0;
    &-iPhone{
      animation: fadeInLeft;
      animation-duration: 3s;
      width: 40%;
      height: 75%;
    }
    &-iPad{
      animation: fadeInRight;
      animation-duration: 3s;
      width: 100%;
      height: 100%;
    }
  }
  .quote-title{
    font-size: 25px;
  }
  .quote-title__text{
    font-size: 65px;
  }
  .quote-info{
    font-size: 20px;
    padding-bottom: 210px;
  }
  .team-heading__info{
    font-size: 12px;
  }
  .team-content__staff{
    max-width: 241px;
    margin-bottom: 50px;
  }
  .facts-content{
    padding: 195px 0 210px;
  }
  .facts-content__fact-block{
    width: 138px;
    height: 138px;
  }
  .facts-content__fact-title{
    font-size: 35px;
  }
  .facts-content__fact-info{
    font-size: 20px;
  }
  .services-heading__info{
    font-size: 12px;
  }
  .services-content{
    display: block;
  }
  .services-content__about{
    margin: 0 auto 30px;
  }
  .services-pricing{
    display: block;
  }
  .services-pricing__package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
  }
  .works-heading__info{
    font-size: 12px;
  }
  .works .owl-dots{
    top: 40%;
  }
  .works .owl-theme .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
  }
  .works-projects{
    justify-content: space-between;
  }
  .blog-heading__info{
    font-size: 12px;
  }
  .blog-posts{
    justify-content: center;
  }
  .contact-heading__info{
    font-size: 12px;
  }
  .contact-content{
    align-items: center;
    flex-direction: column;
  }
  .contact-content__form{
    align-items: center;
    margin-bottom: 30px;
  }
  .contact-content__form-label{
    justify-content: center;
  }
  .contact-content__about{
    text-align: center;
    margin: 0 auto;
  }
  .contact-content__about-address{
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .home-info_first{
    padding-top: 300px;
    font-size: 22px;
  }
  .home-info{
    font-size: 22px;
  }
  .home-title{
    font-size: 21px;
  }
  .home-moreBtn{
    width: 140px;
    height: 40px;
    margin: 60px auto 0;
  }
  .home .container {
    padding-bottom: 200px;
  }
  .about-flexContainer__title{
    font-size: 23px;
  }
  .about-flexContainer__info{
    font-size: 8px;
  }
  .about-content__bulb{
    margin: 0 0 30px 0;
    width: 100px;
    height: 100px;
  }
  .about-content__story{
    margin-right: 0;
    text-align: center;
  }
  .about-content__img{
    margin-top: 100px;
    width: 80%;
    height: 200px;
  }
  .about-content__img .fa-star{
    top: 35%;
    right: 40%;
  }
  .about-hr{
    width: 80%;
    margin: 0 auto 125px !important;
  }
  .about-skills__showcase{
    width: 100%;
    height: 400px;
  }
  .about-skills__showcase-iPad{
    width: 80%;
    height: 90%;
    top: unset;
    bottom: 0;
  }
  .about-skills__bars-about{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about-skills__bars-about__params{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .quote-title{
    font-size: 16px;
    padding-top: 170px;
  }
  .quote-title_fade{
    padding-top: 0;
  }
  .quote-title__text {
    font-size: 30px;
  }
  .quote-info {
    font-size: 14px;
    padding-bottom: 130px;
  }
  .team-heading__title{
    font-size: 23px;
  }
  .team-heading__info {
    font-size: 8px;
  }
  .team-content{
    justify-content: center;
  }
  .facts{
    margin-bottom: 50px;
  }
  .facts-content{
    flex-direction: column;
    padding: 130px 0 110px;
  }
  .facts-content__fact{
    margin-bottom: 20px;
  }
  .services-heading__title{
    font-size: 23px;
  }
  .services-heading__info{
    font-size: 8px;
  }
  .services-heading{
    margin-bottom: 70px;
  }
  .services-pricing__package{
    text-align: center;
  }
  .services-pricing__table{
    flex-direction: column;
  }
  .services-pricing__table-price{
    margin-bottom: 40px;
  }
  .testimonial .owl-carousel {
    padding: 130px 0;
  }
  .works-heading__title{
    font-size: 23px;
  }
  .works-heading__info {
    font-size: 8px;
  }
  .owl-carousel.owl-loaded {
    margin: 0 auto;
    max-width: 95%;
  }
  .works .owl-dots {
    top: 28%;
  }
  .works .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
  .worksFadeMenu{
    cursor: pointer;
    &-title{
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
    }
    .closeFadeMenu{
      display: none;
    }
    &.active{
      .closeFadeMenu{
        position: fixed;
        display: block;
        width: 30px;
        height: 30px;
        top: 30px;
        left: 30px;
        z-index: 9999;
        transition: 3s;
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: #fff;
          transform: rotate(45deg);
          transition: 3s;
        }
        &::after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: #fff;
          transform: rotate(-45deg);
          transition: 3s;
        }
      }
    }
  }
  .works-nav {
    position: fixed;
    top: 0;
    left: -100%;
    background: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    &.active{
      left: 0;
    }
    &__link{
      margin-bottom: 10px;
      color: #fff;
    }
  }
  .works-projects{
    justify-content: center;
  }
  .tweet .container{
    padding: 150px 0;
  }
  .tweet-twitter{
    width: 80px;
    height: 80px;
  }
  .tweet-title{
    font-size: 12px;
  }
  .blog-heading{
    margin-bottom: 100px;
  }
  .blog-heading__title{
    font-size: 23px;
  }
  .blog-heading__info {
    font-size: 8px;
  }
  .tweet{
    margin: 40px 0;
  }
  .blog-posts__post{
    max-width: 100%;
    margin-bottom: 170px;
  }
  .blog-posts__post-img{
    max-width: 100%;
  }
  .blog-posts__post-flexContainer{
    bottom: -102px;
  }
  .blog-posts__post-flexContainer__block-img {
    margin-right: 0;
  }
  .blog-posts__post-flexContainer__block-info {
    font-size: 11px;
  }
  .blog-posts__post-flexContainer__about-title{
    font-size: 14px;
    margin-bottom: 20px;
  }

  .blog-posts__post-flexContainer__about-info{
    font-size: 11px;
  }
  .blog-posts__post-flexContainer__about-btn{
    font-size: 12px;
    width: 95px;
    height: 30px;
  }
  .clients{
    margin: 40px 0;
  }
  .clients-title{
    padding-top: 150px;
    margin-bottom: 40px;
  }
  .clients-flexContainer{
    padding-bottom: 150px;
    justify-content: center;
  }
  .contact-heading__title{
    font-size: 23px;
  }
  .contact-heading__info{
    font-size: 8px;
  }
  .contact-content{
    flex-direction: column;
  }
  .contact-content__form {
    max-width: 100%;
  }
  .contact-content__form-label{
    max-width: 100%;
  }
  .footer .container{
    flex-direction: column;
  }
  .footer-info{
    text-align: center;
    margin-bottom: 40px;
  }
}